/* リンク */
a {
    text-decoration: none;
}

/* リスト */
li {
    list-style: none;
}


/* ヘッダー
------------------------------------------ */

.header {
    height: 3.75rem;
    background-color: #040000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 67.5rem;
    height: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin: auto;
}

/* ナビゲーション */
.header-nav a {
    color: #fff;
}

.header-nav-list {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}

/* ボタン */
.header-nav-list-button {
    display: inline-block;
    padding: .5rem 3.75rem;
    text-align: center;
    color: #fff;
    background-color: #26547c;
    border-radius: .5rem;
}

.header-nav-list-button:hover {
    color: #040000;
    background-color: #fff;
    transition: all 0.3s ease;
}