/* リンク */
a {
	color: #2f92dd;
}

/* コンテナ */
.container {
	max-width: 67.5rem;
	margin: 5rem auto;
}

/* パンくずリスト */
.breadcrumb {
	display: flex;
	column-gap: .75rem;
	list-style: none;
}

.breadcrumb-item + .breadcrumb-item::before {
	padding-right: .75rem;
	content: "/";
}
